<div class="container">
  <header class="jumbotron">
    <!-- <p>{{ content }}</p> -->
  </header>
</div>

<div class="headerContent" routerLinkActive="active">
  <h1 id="createEventTitle">Let's create a new event!</h1><br>
  <a routerLink='/createEvent' class="nav-link" routerLinkActive="active"><button mat-flat-button color="primary">Create Event</button></a>
</div><hr>

<div *ngIf="showDivFlag == 'true'">
  <h1>Your Events</h1>
</div>

<ng-container *ngFor="let item of items | async">
  <mat-card>
    <div>
      <button style="float: right;" class="ms-auto" mat-raised-button color="accent">Publish</button>
      <mat-card-title>{{ item.eventName }}</mat-card-title>
    </div><br>
    <mat-card-content>
      <div style="float: left;">
        <p>Event Mode: {{ item.eventMode }}</p>
        <p>Event Venue: {{ item.eventVenue }}</p>
        <p>Event Date: {{ item.eventDate }}</p>
        <p>Event Time: {{ item.eventTime }}</p>
        <p>Event Duration: {{ item.eventDuration }}</p>
        <p>Event Category: {{ item.eventCategory }}</p>
      </div>
      <div style="float: right; margin-right: 40%;">
        <p *ngIf="item.unlimitedTickets == true" >No. of Tickets: Unlimited</p>
        <p *ngIf="item.unlimitedTickets == false" >No. of Tickets: {{ item.ticketPackage.ticketAmount }}</p>
        <p>Ticket Name: {{ item.ticketPackage.packageName }}</p>
        <p>Price: {{ item.ticketPackage.packagePrice }}</p>
        <p>Ticket Description: {{ item.ticketDescription }}</p>
      </div>
    </mat-card-content>
    <div class="ms-auto">
      <button  mat-stroked-button color="primary" (click)="editEvent()">Edit</button>
      <button class="btn btn-danger" (click)="deleteEvent(item._id)">Delete</button>
    </div>
    <p style="font-size: 12px; font-family: 'Courier New', Courier, monospace; font-weight: bold;">Event Id: {{ item._id }}</p>
  </mat-card>
<br>
</ng-container>


