.headerContent{
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}

#createEventTitle{
  font-size: 40px;
}

mat-card{
  padding: 20px;
}

button{
  margin: 5px;
}

.shareBtn{
  padding: 8px;
  border: none;
  cursor: pointer;
}

.hint {
  padding: 8px;
  background-color: #eee;
  color: #666;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  display: none;
}

.shareBtn + .hint {
  display: block;
}

table{
  margin: auto;
}

td{
  margin: auto;
  width: fit-content;
}

#viewerCountCard{
  align-items: center;
  width: 250px;
  height: 120px;
  margin: 20px;
}
