<div id="content">
  <div id="createEventDiv">
    <form autocomplete="off" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

      <mat-card>
          <label for="eventName" class="form-label">Event Name</label><br>
          <input type="text" class="form-control" id="eventName" [(ngModel)]="event.eventName" name="eventName" aria-describedby="eventName" placeholder="My Event" required
          #eventName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventName.errors }">
          <div *ngIf="eventName.errors && f.submitted" class="invalid-feedback">
            Event Name is required!
          </div>
      </mat-card>

      <mat-card>
        <label for="eventMode" class="form-label">Event Mode</label><br>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="eventMode" name="eventMode" id="eventMode" required
          #eventmode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventmode.errors }">
            <mat-radio-button [checked]="true" class="example-radio-button" *ngFor="let eventMode of eventModes" [value]="eventMode">
              {{eventMode}}
            </mat-radio-button>
            <div *ngIf="eventmode.errors && f.submitted" class="invalid-feedback">
              Event Mode is required
            </div>
          </mat-radio-group><br>

          <div class="venueInput" *ngIf="eventMode == 'Venue Event'">
            <input type="text" class="form-control" name="eventVenue" id="eventVenue" [(ngModel)]="event.eventVenue" name="eventVenue" aria-describedby="eventVenue" placeholder="Enter Venue"  required #eventVenue="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventVenue.errors }">
            <div *ngIf="eventVenue.errors && f.submitted" class="invalid-feedback">
              Event Venue is required!
            </div>
          </div>

          <div class="onlineEventInput" *ngIf="eventMode == 'Online Event'">
            <input type="text" class="form-control" name="eventOnlineMethod" id="eventOnlineMethod" [(ngModel)]="event.eventOnlineMethod" aria-describedby="eventOnlineMethod" placeholder="Enter suggested online method">
          </div>
      </mat-card>

      <mat-card>
          <label for="eventTime" class="form-label">Event Date and Time</label><br>
            <div class="row" style="margin-left: 5px;">
              <input type="date" data-format="dd/MM/yyyy" id="eventDate" [(ngModel)]="event.eventDate" name="eventDate" class="form-control" name="eventDate" style="width: 25%; margin-right: 10px;"  required #eventDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventDate.errors }">
              <input type="time" data-format="hh:mm" id="eventTime" class="form-control" [(ngModel)]="event.eventTime" name="eventTime" style="width: 25%;" required #eventTime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventTime.errors }">
              <div *ngIf="eventDate.errors && f.submitted" class="invalid-feedback">
                Event Date is required!
              </div>
              <div *ngIf="eventTime.errors && f.submitted" class="invalid-feedback">
                Event Time is required!
              </div>
            </div><br><br>
          <label for="eventDuration" class="form-label">Event Duration</label><br>
          <input type="text" class="form-control" id="eventDuration" [(ngModel)]="event.eventDuration" name="eventDuration" style="width: 25%;" placeholder="1 hour" required #eventDuration="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventDuration.errors }">
          <div *ngIf="eventDuration.errors && f.submitted" class="invalid-feedback">
            Event Duration is required!
          </div>
      </mat-card>

      <mat-card>
        <label for="eventCategory" class="form-label">Event Category</label><br>
        <select class="form-select" [(ngModel)]="eventCategory" name="eventCategory">
          <option *ngFor="let eventCategory of eventCategories" [value]="eventCategory.value">{{ eventCategory.name }}</option>
        </select>
      </mat-card>

      <!-- <mat-card>
        <label class="form-label">Tickets</label><br>
        <mat-checkbox id="unlimitedTickets" color="primary" (change)="unlimitedTicketsTxt = !unlimitedTicketsTxt">Unlimited Tickets</mat-checkbox>
        <label style="font-size: 12px;" class="alert alert-warning" role="alert" id="unlimitedTicketsTxt" *ngIf="unlimitedTicketsTxt">
          Note: When choosing Unlimited tickets, consider the number of participants that can be present in the selected !
        </label>
    </mat-card> -->

    <mat-card>
      <label for="ticketTypes" class="form-label">Ticket packages
        <button mat-stroked-button class="btn-sm" color="primary" type="button" style="width: fit-content;" (click)="addPackage()" hidden>Add Package</button>
      </label>

      <div style="display: inline-block">
        <mat-checkbox class="example-margin" [(ngModel)]="unlimitedTickets" name="unlimitedTickets">Unlimited Tickets</mat-checkbox>
          <section [ngClass]="{'disabled': unlimitedTickets}">
            <input type="number" min="0" class="form-control" id="ticketAmount" [(ngModel)]="event.ticketPackage!.ticketAmount" name="ticketAmount" style="width: 20%;" placeholder="No. of Tickets">
          </section><br>
      </div>

      <section *ngFor="let package of packages; let i = index;">
        <div class="row" style="align-items: center;">
          Package {{i + 1}}
          <input type="text" style="width: 40%; margin-left: 10px;" class="form-control" id="packageName" [(ngModel)]="event.ticketPackage!.packageName" name="packageName" aria-describedby="ticketTypes" placeholder="Ticket Name"  required #packageName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && packageName.errors }">
          <div *ngIf="packageName.errors && f.submitted" class="invalid-feedback">
            package Name is required!
          </div>
          <input type="number" min="0" style="width: 20%; margin-left: 10px;" class="form-control" id="packagePrice" [(ngModel)]="event.ticketPackage!.packagePrice" name="packagePrice" aria-describedby="ticketTypes" placeholder="Price"  required #packagePrice="ngModel" [ngClass]="{ 'is-invalid': f.submitted && packagePrice.errors }">
          <div *ngIf="packagePrice.errors && f.submitted" class="invalid-feedback">
            package Price is required!
          </div>
          <button type="button" style="width: fit-content; margin-left: 10px;" class="btn btn-danger btn-sm" (click)="removePackage(i)" hidden>Remove</button>
        </div><br>
      </section><br>

      <label for="ticketDesc" class="form-label">Short Description for your ticket</label>
        <div class="form-outline">
          <textarea class="form-control" id="ticketDescription" [(ngModel)]="event.ticketDescription" name="ticketDescription" rows="4" placeholder="A small description for the ticket..." maxlength="60" required #ticketDescription="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ticketDescription.errors }"></textarea>
          <div *ngIf="ticketDescription.errors && f.submitted" class="invalid-feedback">
            Ticket Description is required!
          </div>
        </div><br><br>

        <div style="text-align: right;">
          <button (click)="saveEvent()" mat-raised-button color="accent">Create Event</button>
        </div>
        <div *ngIf="submitted">
          <h4>Event was submitted successfully!</h4>
        </div>
    </mat-card><br>
    </form>
  </div>
</div>
