<div id="content">
  <h1>Let's create a new event!</h1>
  <div id="createEventDiv">
    <form autocomplete="off">

      <mat-card>
          <label for="eventName" class="form-label">Event Name</label><br>
          <input type="text" class="form-control" id="eventName" [(ngModel)]="event.eventName" name="eventName" aria-describedby="eventName" placeholder="My Event">
      </mat-card>

      <mat-card>
        <label for="eventMode" class="form-label">Event Mode</label><br>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="eventMode" name="eventMode" id="eventMode">
            <mat-radio-button [checked]="true" class="example-radio-button" *ngFor="let eventMode of eventModes" [value]="eventMode">
              {{eventMode}}
            </mat-radio-button>
          </mat-radio-group><br>

          <div class="venueInput" *ngIf="eventMode == 'Venue Event'">
            <input type="text" class="form-control" name="eventVenue" id="eventVenue" [(ngModel)]="event.eventVenue" name="eventVenue" aria-describedby="eventVenue" placeholder="Enter Venue">
          </div>

          <div class="onlineEventInput" *ngIf="eventMode == 'Online Event'">
            <input type="text" class="form-control" name="eventOnlineMethod" id="eventOnlineMethod" [(ngModel)]="event.eventOnlineMethod" aria-describedby="eventOnlineMethod" placeholder="Enter suggested online method">
          </div>
      </mat-card>

      <mat-card>
          <label for="eventTime" class="form-label">Event Date and Time</label><br>
            <div class="row" style="margin-left: 5px;">
              <input type="date" data-format="dd/MM/yyyy" id="eventDate" [(ngModel)]="event.eventDate" name="eventDate" class="form-control" name="eventDate" style="width: 25%; margin-right: 10px;">
              <input type="time" data-format="hh:mm" id="eventTime" class="form-control" [(ngModel)]="event.eventTime" name="eventTime" style="width: 25%;">
            </div><br><br>
          <label for="eventDuration" class="form-label">Event Duration</label><br>
          <input type="text" class="form-control" id="eventDuration" [(ngModel)]="event.eventDuration" name="eventDuration" style="width: 25%;" placeholder="1 hour">
      </mat-card>

      <mat-card>
        <label for="eventCategory" class="form-label">Event Category</label><br>
        <select class="form-select">
          <option class="form-label" *ngFor="let Category of categories" [value]="Category.value" id="eventCategory" name="eventCategory">
            {{Category.viewValue}}
          </option>
        </select>
      </mat-card>

      <!-- <mat-card>
        <label class="form-label">Tickets</label><br>
        <mat-checkbox id="unlimitedTickets" color="primary" (change)="unlimitedTicketsTxt = !unlimitedTicketsTxt">Unlimited Tickets</mat-checkbox>
        <label style="font-size: 12px;" class="alert alert-warning" role="alert" id="unlimitedTicketsTxt" *ngIf="unlimitedTicketsTxt">
          Note: When choosing Unlimited tickets, consider the number of participants that can be present in the selected !
        </label>
    </mat-card> -->

    <mat-card>
      <label for="ticketNumberType" class="form-label">Tickets</label><br>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="ticketNumberType" name="ticketNumberType" id="ticketNumberType">
          <mat-radio-button [checked]="true" class="example-radio-button" *ngFor="let ticketNumberType of ticketNumberTypes" [value]="ticketNumberType">
            {{ticketNumberType}}
          </mat-radio-button>
        </mat-radio-group><br>

        <div class="ticketAmount" *ngIf="ticketNumberType == 'Allocate specific number of tickets'">
          <input type="number" style="width: 40%;" class="form-control" name="ticketAmount" id="ticketAmount" [(ngModel)]="event.ticketAmount" aria-describedby="ticketAmount" placeholder="Enter suggested number of tickets">
        </div>

        <div class="unlimitedTickets" *ngIf="ticketNumberType == 'Unlimited Tickets'">
          <label style="font-size: 12px;" class="alert alert-warning" role="alert" id="unlimitedTickets" [(ngModel)]="event.unlimitedTickets" name="unlimitedTickets" *ngIf="ticketNumberType == 'Unlimited Tickets'">
            Note: When choosing Unlimited tickets, consider the number of participants that can be present in the selected venue!
          </label>
        </div><br>

        <label for="ticketTypes" class="form-label">Ticket packages
          <button mat-stroked-button class="btn-sm" color="primary" type="button" style="width: fit-content;" (click)="addPackage()">Add Package</button>
        </label><br>
        <section *ngFor="let package of packages; let i = index;">
          <div class="row" style="align-items: center;">
            Package {{i + 1}}
            <input type="text" style="width: 40%; margin-left: 10px;" class="form-control" id="packageName" [(ngModel)]="event.ticketPackage!.packageName" name="packageName" aria-describedby="ticketTypes" placeholder="Package Name">
            <input type="text" style="width: 20%; margin-left: 10px;" class="form-control" id="packagePrice" [(ngModel)]="event.ticketPackage!.packagePrice" name="packagePrice" aria-describedby="ticketTypes" placeholder="Price">
            <button type="button" style="width: fit-content; margin-left: 10px;" class="btn btn-danger btn-sm" (click)="removePackage(i)">Remove</button>
          </div><br>
        </section><br>

        <label for="ticketDesc" class="form-label">Ticket Description</label>
          <div class="form-outline">
            <textarea class="form-control" id="ticketDescription" [(ngModel)]="event.ticketDescription" name="ticketDescription" rows="4" placeholder="A small description for the ticket..." maxlength="200"></textarea>
          </div><br><br>

          <div style="text-align: right;">
            <button (click)="saveEvent()" mat-raised-button color="primary">Create Event</button>
          </div>
          <div *ngIf="submitted">
            <h4>Event was submitted successfully!</h4>
          </div>
    </mat-card><br>
    </form>
  </div>
</div>
